//Select all the classes that start with col-
//^ - start with // * contain // $ ends with
.container {
  margin: 0 auto;
  padding: 48px 64px;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}

.container-width {
  max-width: $grid-width;
  margin: 0 auto;
}

.container-padding {
  padding: 0 3.2rem;
}

.grid--display {
  display: grid;
}

.grid--gap {
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--column-gap {
  column-gap: 6.4rem;
}

[class^="col-"] {
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

.col-1-of-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-1-of-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-1-of-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-1-of-5 {
  grid-template-columns: repeat(5, 1fr);
}
.col-2-of-2 {
  grid-template-columns: span 2;
}
.col-2-of-3 {
  grid-template-columns: 2fr 1fr;
}
.col-2-of-4 {
  grid-template-columns: repeat(2, 2fr);
}
.col-3-of-4 {
  grid-template-columns: 3fr 1fr;
}
.col-3fr-of-2fr {
  grid-template-columns: 3fr 2fr;
}
.col-1-2fr-and-2fr {
  grid-template-columns: 1.2fr 2fr;
}
