.popup {
  height: 100vh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;

  background-color: rgba($color-black, 0.8);
  z-index: 2500;
  transition: all 0.3s ease;

  &--inactive {
    opacity: 0;
    visibility: hidden;
  }

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    @include absCenter;

    width: 80%;
    height: 95%;

    margin: 0 auto;

    border-radius: 3rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);

    overflow: hidden;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      background-color: $color-grey;
      border: 0.2em solid rgba($color-grey, 0.45);
      border-radius: 1rem;
      width: 1.3em;
      scroll-behavior: smooth;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-light-2;
      border: 0.25em solid rgba($color-grey-light-3, 0.45);
      border-radius: 100vw;
    }
  }

  &__title {
    text-align: center;
  }

  &__text {
    font-size: $default-font-size;
    text-align: center;
  }

  &__form {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 2.4rem;

    &--full {
      padding: 6.4rem 6.4rem;
    }

    &--first {
      max-height: 100%; // Ocupa altura total disponível
      overflow-y: auto; // Permite rolagem
      padding: 6.4rem 6.4rem;
    }

    &--second {
      position: sticky; // Fixa a segunda parte
      top: 0; // Fixa no topo quando o conteúdo é maior
      height: 100%; // Garante que ocupa 100% da altura
      overflow: hidden; // Remove qualquer possibilidade de rolagem
      display: flex;
      flex-direction: column;
      justify-content: space-between; // Mantém o layout dos botões no final visível
      padding: 6.4rem 6.4rem;
      background-color: $color-grey-light-2;

      button {
        background-color: $color-white;
      }

      button:hover {
        background-color: $color-grey-light-4;
      }
    }

    div {
      display: grid;
      gap: 1rem;

      label {
        font-weight: 600;
      }

      label,
      p,
      li {
        font-size: $default-font-size;
      }

      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 3rem;
      }

      input {
        width: 100%;
        border-radius: 10rem;
        border: 2px solid $color-grey-light-2;
        padding: 1.6rem;
      }

      textarea {
        width: 100%;
        border-radius: 2rem;
        border: 2px solid $color-grey-light-2;
        padding: 1.6rem;
      }

      select {
        width: 100%;
        border-radius: 5rem;
        border: 2px solid $color-grey-light-2;
        padding: 1.6rem;
      }
    }

    .popup__buttons {
      display: flex;
      gap: 2.4rem;

      button {
        margin-bottom: 0rem;
      }
    }
  }
}

.popup-pdf {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup__content--pdf {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  width: 80%;
  max-width: 900px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.pdf-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.pdf-navigation button {
  background: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pdf-navigation button:hover {
  background: #0056b3;
}
